<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-10">
        <div class="progress">
          <div  class="progress-bar progress-bar-success"
                role="progressbar"
                aria-valuenow="<%= @display_percentage %>"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: <%= @display_percentage %>%">
                <%= @display_percentage %>%
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <span class="total">Goal: <%= @currency_symbol %><%= @donation_goal %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 latest-donator">Latest donator: <%= @latest_donator_name %></div>
    </div>
  </div>
</div>