<div class="row">
  <div class="col-xs-12 col-sm-6">
    <span class="text">
      Help keep Scenario Generator up-to-date and running by donating today.
      Donators can also have their name listed
      <% if controller == 'donator' %>
        below.
      <% else %>
        on the
        <%= link_to 'site\'s donator list', '/donators' %>.
      <% end %>
    </span>
  </div>
  <div class="col-xs-12 col-sm-6">
    <span class="btc-donation-image">
      <a class="coinbase-button" data-code="e8f8c8233d32310169df5c0470fae3d3" data-button-style="custom_small" href="https://www.coinbase.com/checkouts/e8f8c8233d32310169df5c0470fae3d3">Donate Bitcoin</a>
    </span>
    <span class="paypal-donation-holder">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="VPLJEE6C7U26L">
        <input type="image" src="<%= asset_path 'paypal.png' %>" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
      </form>
    </span>
    <span class="flattr-donation-holder">
      <script id='fbnfb4l'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=Lockyy&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=62;f.width=55;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbnfb4l');</script>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-10">
        <div class="progress">
          <div  class="progress-bar progress-bar-success"
                role="progressbar"
                aria-valuenow="<%= Donator.total_for_this_month %>"
                aria-valuemin="0"
                aria-valuemax="<%= ENV['DONATION_GOAL'].to_i %>"
                style="width: <%= Donator.percentage_towards_goal * 100 %>%">
                <%= Donator.percentage_towards_goal * 100 %>%
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <span class="total">Goal: £<%= ENV['DONATION_GOAL'] %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 latest-donator">Latest donator: <%= Donator.last.name %></div>
    </div>
  </div>
</div>