<div class="row">
  <div class="col-xs-12 col-sm-7">
    <span class="text">
      <div class="prop">
        Donate to help keep Scenario Generator running.
      </div>
      <div class="fiver">
        Donators who give <%= @currency_symbol %><%= @donation_level_1 %> can have their named listed
        <% if controller == 'donator' %>
          below.
        <% else %>
          on the
          <%= link_to 'donator list', '/donators' %>.
        <% end %>
      </div>
      <div class="tenner">
        Donators who give <%= @currency_symbol %><%= @donation_level_2 %> can add a suitable game to the upcoming list.
      </div>
    </span>
  </div>
  <div class="col-xs-12 col-sm-5">
    <div class="row">
      <div class="col-xs-6 btc-donation-holder">
        <span class="btc-donation-image">
          <a class="coinbase-button" data-code="e8f8c8233d32310169df5c0470fae3d3" data-button-style="custom_small" href="https://www.coinbase.com/checkouts/e8f8c8233d32310169df5c0470fae3d3">Donate Bitcoin</a>
        </span>
      </div>
      <%= render partial: 'common/paypal_button' %>
    </div>
  </div>
</div>

<%= render partial: 'common/donation_goal_bar' %>