<div class="row donation-info">
  <div class="col-xs-12 col-sm-7">
    <span class="text">
      <div class="prop">
        Donate to help keep Scenario Generator running. All donators can have their name listed
        <% if controller == 'donator' %>
          below.
        <% else %>
          on the
          <%= link_to 'donator list', '/donators' %>.
        <% end %> Donators who give £<%= @donation_level_2 %> can choose the next game to be added.
      </div>
    </span>
  </div>
  <div class="col-xs-12 col-sm-5">
    <div class="row">
      <%= render partial: 'common/paypal_button' %>
      <div class="col-xs-6">
        <div class="latest-donator">Latest donator: <div class="donator-name"><%= @latest_donator_name %></div></div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'common/donation_goal_bar' %>