<span><%= link_to 'Got a game or feature suggestion?', '#', class: 'show-suggestion', id: 'suggestion-link' %></span>
<span><%= link_to 'Want to email me?', 'mailto:daniel@lockyy.com' %></span>
<%= form_for Suggestion.new, url: suggestion_submit_path(page_name: params[:game_name] || :index), remote: true do |f| %>
  <div class="suggestion">
    <span class="suggestion-title">
    <span class="success">
      <%= flash[:success] %>
    </span>
    <span class="errors">
      <%= flash[:errors] %>
    </span>
    <div class="suggestion-form">
      <div class="row">
        <div class="col-xs-8 col-sm-10">
          <%= f.text_area :suggestion, placeholder: 'Suggestion' %>
        </div>
        <div class="col-xs-2">
          <%= f.submit 'Submit', class: 'button' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

