<div class="row navbar navbar-inner">
  <div class="col-xs-4 col-sm-2">
    <%= link_to "Other Games", '' , class: 'box button other-button menu-toggle' %>
    <span class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this challenge generator for <%= @title %>">Tweet</a>
    </span>
  </div>
  <h1 class="col-xs-8">
    <div class="box">
      Scenario Generator for <%= @title %>
    </div>
  </h1>
  <div class="col-xs-2 hidden-xs">
    <% if @previous_link %>
      <%= link_to(@previous_title, generator_path(game: @previous_link), class: 'box button previous') %>
    <% end %>
    <% if @next_link %>
      <%= link_to(@next_title, generator_path(game: @next_link), class: 'box button next') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-7 col-lg-offset-3 col-lg-6">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= link_to "Click to reroll", generator_path(game: @game_name), class: 'box button reroll-button' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          If a column is too hard or conflicts with another you can reroll it clicking the orange header buttons!
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-5 col-lg-3 xs-hidden">
    <%= form_for Alert.new, url: alert_subscribe_path do |f| %>
      <div class="box">
        <div class="subscribe-title">
          Get alerts when new games are added
        </div>
        <div class="errors">
          <%= flash[:notice][0] if flash[:notice] %>
        </div>
        <%= f.text_field :email, placeholder: 'Email Address' %>
        <%= f.submit 'Subscribe', class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
