<div class="row navbar navbar-inner">
  <div class="col-xs-4 col-sm-2">
    <%= link_to "Other Games", '' , class: 'box button other-button menu-toggle' %>
    <span class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this challenge generator for <%= @title %>">Tweet</a>
    </span>
  </div>
  <h1 class="col-xs-8">
    <div class="box">
      Scenario Generator for <%= @title %>
    </div>
  </h1>
  <div class="col-xs-2 hidden-xs">
    <% if @previous_link %>
      <%= link_to(@previous_title, generator_path(game_name: @previous_link), class: 'box button previous') %>
    <% else %>
      <div class="previous-padding"></div>
    <% end %>
    <% if @next_link %>
      <%= link_to(@next_title, generator_path(game_name: @next_link), class: 'box button next') %>
    <% end %>
  </div>
</div>

<div class="row">
  
  <div class="col-md-3 col-md-offset-0 col-md-3 hidden-xs hidden-sm">
    <%= render 'layouts/suggestion_form' %>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= link_to "Click to reroll", generator_path(game_name: @game_name), class: 'box button reroll-button' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div>If a column is too hard or conflicts with another you can reroll it clicking the orange header buttons!</div>
          <div>You can click boxes to complete them</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <%= render 'layouts/subscribe_form' %>
  </div>
  <div class="col-xs-6 hidden-md hidden-lg">
    <%= render 'layouts/suggestion_form' %>
  </div>
</div>
