<div class="row navbar navbar-inner">
  <div class="col-xs-4 col-sm-2">
    <div class="row">
      <div class="col-xs-12"><%= link_to "Other Games", '' , class: 'box button other-button menu-toggle' %></div>
    </div>
    <div class="visible-lg">
      <%= render 'layouts/social_buttons' %>
    </div>
  </div>
  <h1 class="col-xs-8">
    <div class="box">
      <%= @title %>
    </div>
  </h1>
  <div class="col-xs-2 hidden-xs">
    <% if @previous_link %>
      <%= link_to(@previous_title, generator_path(game_name: @previous_link), class: 'box button previous') %>
    <% else %>
      <div class="previous-padding"></div>
    <% end %>
    <% if @next_link %>
      <%= link_to(@next_title, generator_path(game_name: @next_link), class: 'box button next') %>
    <% end %>
  </div>
</div>