<div class="row navbar navbar-inner">
  <div class="col-xs-4 col-sm-2">
    <div class="row">
      <div class="col-xs-12"><%= link_to "Other Games", '' , class: 'box button other-button menu-toggle' %></div>
    </div>
    <div class="row">
      <div class="col-xs-12 twitter">
        <a href="https://twitter.com/Jokiros" class="twitter-follow-button" data-show-count="false" data-size="medium" data-show-screen-name="false" data-dnt="true">Follow @Jokiros</a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this challenge generator for <%= @title %>">Tweet</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="facebook">
          <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.scenariogenerator.net&amp;width=150&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=920748624615968" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px; float: left;" allowTransparency="true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <h1 class="col-xs-8">
    <div class="box">
      <%= @title %>
    </div>
  </h1>
  <div class="col-xs-2 hidden-xs">
    <% if @previous_link %>
      <%= link_to(@previous_title, generator_path(game_name: @previous_link), class: 'box button previous') %>
    <% else %>
      <div class="previous-padding"></div>
    <% end %>
    <% if @next_link %>
      <%= link_to(@next_title, generator_path(game_name: @next_link), class: 'box button next') %>
    <% end %>
  </div>
</div>