<div class="row">
  <div class="col-xs-5 col-md-3 visible-md-block visible-lg-block">
    <%= render 'layouts/suggestion_form' %>
    <div class="hidden-md">
      <%= render 'layouts/social_buttons' %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="title"><%= link_to 'Scenario Generator', '/' %></div>
    <%= render 'layouts/donation_section' %>
  </div>
  <div class="col-xs-6 col-md-3">
    <%= render 'layouts/subscribe_form' %>
  </div>
  <div class="col-xs-6 hidden-md hidden-lg">
    <%= render 'layouts/suggestion_form' %>
  </div>
</div>