<%= form_for Suggestion.new, url: suggestion_submit_path(page_name: params[:game_name] || :index), remote: true do |f| %>
  <div class="box suggestion <%= current_version %>">
    <div class="suggestion-title">
      <%= 
        version_choice default: 'Suggest games or features'
          #b: 'Subscribe for updates',
          #c: 'Subscribe to updates',
          #d: 'Subscribe to hear about new games',
          #e: 'Get told about new games',
          #f: 'Get updates about new generators'
      %>
    </div>
    <div class="success">
      <%= flash[:success] %>
    </div>
    <div class="errors">
      <%= flash[:errors] %>
    </div>
    <%= f.text_area :suggestion, placeholder: 'Suggestion' %>
    <%= f.submit 'Submit', class: 'button' %>
  </div>
<% end %>