<!DOCTYPE html>
<html>
  <head>
    <title>Challenge Generator Index</title>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1">
  </head>
  <body class="application">

    <div class="container">
      <%= render 'layouts/index_header' %>
      <%= render 'layouts/ad_top' %>
      <%= yield %>
      <%= render 'layouts/ad_bottom' %>
    </div>
  

    <%= render 'layouts/footer' %>
    <%= render 'layouts/ad_setup' %>
  </body>
</html>
