<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "generator", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1">
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:title" content="<%= @title %>" />
    <meta property="og:image" content="<%= asset_url("facebook-images/index.png") %>" />
    <meta property="og:image" content="<%= asset_url("facebook-images/#{params[:game_name]}.png") %>" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="920748624615968"/>
    <meta name="Description" content="<%= @title %> creates a random <%= @generator_title.downcase %> to provide a fresh new way to play <%= @game_name_title %>" >
    <%= render 'layouts/inspectlet' %>
    <%= render 'layouts/pleasant_analytics' %>
  </head>
  <body class="generator" style="background-image: url(<%= asset_path(@background) %>); background-size: 100% auto">

    <div id="wrapper">
      <%= render 'common/sidebar' %>
    </div>

    <div class="header-2">
        <%= render 'scenario/generator/header_2' %>
    </div>

    <div class="content">
        <div class="container">
            <%= yield %>
        </div>
    </div>

    <script src="https://www.coinbase.com/assets/button.js" type="text/javascript"></script>

  </body>
</html>
